@model Cieros.Models.Message

@{
    ViewBag.Title = "Send All Staff";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Send Messages  </h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Send Messages    </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="alert-success" style="padding-left:25px">@ViewBag.Msg</div>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td><b>Recepient</b></td>
                            <td>
                                All Staff
                            </td>
                        </tr>
                        <tr>
                            <td><b>Message Title</b></td>
                            <td>
                                @Html.EditorFor(model => model.MessageTitle, new { htmlAttributes = new { @class = "form-control", @Required = "Required" } })
                                @Html.ValidationMessageFor(model => model.MessageTitle, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td><b>Message Body</b></td>
                            <td>
                                @Html.TextAreaFor(model => model.MessageBody, new { @class = "form-control", @cols = 50, @rows = 10, @Required = "Required" })
                                @Html.ValidationMessageFor(model => model.MessageBody, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        @*<tr>
                    <td> <b>Message Type</b></td>
                    <td>
                        @Html.EditorFor(model => model.MessageType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MessageType, "", new { @class = "text-danger" })
                    </td>
                </tr>*@


                    </table>
                    <div class="pull-right">

                        <div class="form-group">

                            <input type="submit" value="Send" class="btn btn-success" />

                        </div>
                    </div>
                }


            </div>
        </div>
    </div>

    <a href="Javascript:history.go(-1)">Back </a>
</div>
