@model Cieros.Models.Guardian

@{
    ViewBag.Title = "Guardian Details";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Guardian Details </h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Guardian  Details  |     @Html.ActionLink("Back to List", "Index")</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="col-lg-6 ">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <td> @Html.DisplayName("Father's Name") </td>
                            <td> @Html.DisplayFor(model => model.FatherName)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Mother's Name")</td>
                            <td>  @Html.DisplayFor(model => model.MotherName)</td>
                        </tr>
                        <tr>
                            <td>  @Html.DisplayName("Mothers Phone Number")</td>
                            <td> @Html.DisplayFor(model => model.MotherPhoneNumber)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Father's Phone Number")</td>
                            <td> @Html.DisplayFor(model => model.FatherPhoneNumber)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Father's Email")</td>
                            <td>  @Html.DisplayFor(model => model.FatherEmail)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayName("Mother's EMail")
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.MotherEmail)
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Contact Address")</td>
                            <td> @Html.DisplayFor(model => model.ContactAddress)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayName("Work Address")
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.WorkAddress)
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Active Status")</td>
                            <td>  @Html.DisplayFor(model => model.ActiveStatus)</td>
                        </tr>

                    </table>
                    
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>