@model Cieros.Models.Institution

@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Institutions  </h2>
    @using (Html.BeginForm("Edit", "Institutions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "user", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Institution  |  @Html.ActionLink("Back to List", "Index")</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 ">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        @*@Html.HiddenFor(model => model.DateCreated)*@
                        @*<div class="form-group">


                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Student Class", @Required = "required" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })

        </div>*@

                        <div class="form-group">

                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Institution Name", @Required = "required" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.PostalAddress, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Postal Address", @Required = "required" } })
                            @Html.ValidationMessageFor(model => model.PostalAddress, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.ContactAddress, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Contact Address", @Required = "required" } })
                            @Html.ValidationMessageFor(model => model.ContactAddress, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Email Address", @Required = "required" } })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Phone Number", @Required = "required" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="form-group">

                            @Html.EditorFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Fax Number", @Required = "required" } })
                            @Html.ValidationMessageFor(model => model.FaxNumber, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.WebsiteAddress, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Website Address", @Required = "required" } })
                            @Html.ValidationMessageFor(model => model.WebsiteAddress, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.Motto, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Motto", @Required = "required" } })
                            @Html.ValidationMessageFor(model => model.Motto, "", new { @class = "text-danger" })

                        </div>

                        @*<div class="form-group">

                                    @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control form-control-user", @Placeholder = "Date Created", @Required = "required" } })
                                    @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })

                            </div>*@

                        <div class="form-group">

                            <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />

                        </div>
                    </div>




                    @*@section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }*@
                </div>
            </div>
        </div>
    }
    @Html.ActionLink("Back to List", "Index")
</div>