@model IEnumerable<Cieros.Models.Staff>

@{
    ViewBag.Title = "Staff ";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Staff  </h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Staff  <span class="badge" style="background-color:antiquewhite">@ViewBag.Count</span>   |    @Html.ActionLink("Create New", "Create")    </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="background-color:#ececec; font-weight:bold;color:#666">
                            <th>
                                @Html.DisplayName("Staff ID")
                            </th>
                           
                            <th>
                                @Html.DisplayName("Staff Name")
                            </th>
                            <th>
                                @Html.DisplayName("Sex")
                            </th>
                           
                            <th>
                                @Html.DisplayName("Phone Number")
                            </th>
                            <th>
                                @Html.DisplayName("Email Address")
                            </th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>

                    </tfoot>
                    <tbody>


                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <a href="~/Staffs/Details?id=@item.StaffID">
                                    @Html.DisplayFor(modelItem => item.StaffID)
                                </a>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Surname) &nbsp;@Html.DisplayFor(modelItem => item.Othernames)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            <td style="color:red">@if (item.ActiveStatus == true)
                            {<text>ACTIVE</text>}
                        else
                        {<text>INACTIVE</text>}</td>
                            <td>
                                <a href="~/Staffs/Edit?id=@item.StaffID "> Edit </a> |
                                @*<a href="~/Staffs/Details?id=@item.StaffID">Details</a> |*@
                                <a href="~/Staffs/Delete?id=@item.StaffID">Delete</a>

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>