@model Cieros.Models.Student

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Delete Student </h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Delete Student  |     @Html.ActionLink("Back to List", "Index")</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="col-lg-6 ">
                    <h3>Are you sure you want to delete this?</h3>
                    <table class="table table-bordered table-striped">

                        <tr>
                            <td> @Html.DisplayName("Surname")</td>
                            <td>  @Html.DisplayFor(model => model.Surname)</td>
                        </tr>
                        <tr>
                            <td>  @Html.DisplayName("Other Names")</td>
                            <td>  @Html.DisplayFor(model => model.Othernames)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Sex")</td>
                            <td> @Html.DisplayFor(model => model.Sex)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Date Of Birth")</td>
                            <td>   @Html.DisplayFor(model => model.DateOfBirth)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayName("Class")
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StdClass)
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Label")</td>
                            <td>  @Html.DisplayFor(model => model.Label)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayName("Admission Number")
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AdmissionNumber)
                            </td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Father's Name") </td>
                            <td>  @Html.DisplayFor(model => model.Guardian.FatherName)</td>
                        </tr>

                    </table>



                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-info btn-user btn-block" /> 

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Back to List", "Index")
</div>