@model Cieros.Models.Student

@{
    ViewBag.Title = "Student Details";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Student Details </h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Student  Details  |     @Html.ActionLink("Back to List", "Index")</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="col-lg-6 ">

                    <table class="table table-bordered table-striped">

                        <tr>
                            <td> @Html.DisplayName("Surname")</td>
                            <td>  @Html.DisplayFor(model => model.Surname)</td>
                        </tr>
                        <tr>
                            <td>  @Html.DisplayName("Other Names")</td>
                            <td>  @Html.DisplayFor(model => model.Othernames)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Sex")</td>
                            <td> @Html.DisplayFor(model => model.Sex)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Date Of Birth")</td>
                            <td>   @Html.DisplayFor(model => model.DateOfBirth)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayName("Class")
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StdClass)
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Label")</td>
                            <td>  @Html.DisplayFor(model => model.Label)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayName("Admission Number")
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AdmissionNumber)
                            </td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayName("Father's Name") </td>
                            <td>  @Html.DisplayFor(model => model.Guardian.FatherName)</td>
                        </tr>

                    </table>

                </div>
                
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>