@model IEnumerable<Cieros.Models.Student>

@{
    ViewBag.Title = "Student List";
}
<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Students/Pupils  </h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Students/Pupils  <span class="badge" style="background-color:antiquewhite">@ViewBag.Count</span>   |    @Html.ActionLink("Create New", "Create")</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="background-color:#ececec; font-weight:bold;color:#666">

                            <th>
                                @Html.DisplayNameFor(model => model.Surname)
                            </th>
                            <th>
                                @Html.DisplayName("Other Names")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sex)
                            </th>
                            <th>
                                @Html.DisplayName("Date Of Birth")
                            </th>
                            <th>
                                @Html.DisplayName("Class")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Label)
                            </th>
                            <th>
                                @Html.DisplayName("Admission Number")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr style="background-color:#ececec; font-weight:bold;color:#666">

                           
                            <th>
                                @Html.DisplayNameFor(model => model.Surname)
                            </th>
                            <th>
                                @Html.DisplayName("Other Names")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sex)
                            </th>
                            <th>
                                @Html.DisplayName("Date Of Birth")
                            </th>
                            <th>
                                @Html.DisplayName("Class")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Label)
                            </th>
                            <th>
                                @Html.DisplayName("Admission Number")
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Othernames)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sex)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StdClass)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Label)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdmissionNumber)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>    