@model Cieros.Models.MonthlySalary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MonthlySalary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staff.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deductions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deductions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
