@model IEnumerable<Cieros.Models.MonthlySalary>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Rank Classes </h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Rank Classes  <span class="badge" style="background-color:antiquewhite">@ViewBag.Count</span>   |    @Html.ActionLink("Create New", "Create")</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
               


                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Staff.Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Month)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Year)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BasicAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Additions)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Deductions)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Balance)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Staff.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Month)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BasicAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Additions)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deductions)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Balance)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </table>
               
            </div>  
        </div>
    </div>
</div>